body {
  margin: 0;
  font-family: Arial;
  background: #1e1e1e;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #2c2c2c;
}

button {
  background: #0078ff;
  border: none;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.workspace {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}

.editor {
  width: 100%;
  height: 100%;
  background: #111;
  color: #0f0;
  border: none;
  padding: 10px;
  font-family: monospace;
}

.hidden {
  display: none;
}

.tabs {
  position: absolute;
  top: 70px;
  left: 10px;
}
